<!DOCTYPE ejs>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
@font-face {
    font-family: 'GmarketSansLight';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        background-image: url("https://www.korea.kr/newsWeb/resources/attaches/2021.05/20/0044004400044.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
</style>
<body>
    <button id="write">글쓰기</button>
    <button id="write">내가 쓴 글 보기</button>
    <ul style="list-style: none; padding-left: 0%;">
        <% for(var i=0; i<result.length; i++){ %>
            <li onclick="location.href='/list/<%=result[i].id %>' "  style="background-color: gray; margin-bottom: 20px; width: 500px; text-align: left; padding-left: 15px; border-radius: 3rem; opacity: 80%;">
                <a style=" color:whitesmoke;text-decoration: none; font-weight: bolder;font-family: 'GmarketSansLight';"><%= result[i].topic %></a>
                <p style="display: inline-flex; color: azure;"> | <%= result[i].views %>회</p>
            </li>
        <% } %>
    </ul>
</body>
<script>
    const btn = document.querySelector("#write")
    btn.addEventListener("click", function() {
        location.href = "/addIssue"
    })
</script>
</html>